@import "bootstrap/scss/bootstrap-grid";

:root {
  --black: #000;
  --white: #fff;
  --gray: #eae9e6;
  --yellow: #ebca53;
  --blue: #2c5192;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 60px 0;
  font-family: "Noto Sans";
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 30px 0 10px;
  font-size: 24px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

video {
  display: block;
  width: 100%;
  border: 1px solid var(--black);
}

.exercise {
  padding: 20px;
  background: var(--gray);
  border: 1px solid var(--black);
}

.product {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background: var(--white);
}

.product-image {
  position: relative;
}

.product-cart {
  position: absolute;
  inset: auto 10px 10px;
  padding: 6px;
  background: var(--yellow);
  border: solid 1px var(--blue);
  border-radius: 20px;
  text-align: center;
}

.product-title {
  font-size: 16px;
  font-weight: 500;
}

.product-price {
  opacity: 0.5;
  font-size: 14px;
}

.share {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin: 50px;
}

.share-icon {
  height: 24px;
}

.share-list {
  display: flex;
  gap: 12px;
}

// ---------------------------------------------
// Votre code ici :
// ---------------------------------------------
